table.ui.celled.fixed.sortable.table {
  border: 2px solid #A40808;
  background-color: #EEE7DB;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.ui.celled.fixed.sortable.table td, table..ui.celled.fixed.sortable.table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.ui.celled.fixed.sortable.table tbody td {
  font-size: 13px;
}
table.ui.celled.fixed.sortable.table tr:nth-child(even) {
  background: #F5C8BF;
}
table.ui.celled.fixed.sortable.table thead {
  background: #A40808;
}
table.ui.celled.fixed.sortable.table thead th {
  font-size: 19px;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #A40808;
}
table.ui.celled.fixed.sortable.table thead th:first-child {
  border-left: none;
}
